body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
}

.time {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    font-size: 2rem;
}

#message {
    margin-top: 20px;
}